.wrapper
{
    margin:0px 0px 10px 0px;
    border:0px;
    /*position:fixed;*/
    /*top:50px;*/
    /*bottom:32px;*/
    left:10px;
    right:10px;    
	min-width: 950px;
}
.wrapper .sidebarSwitcher
{
    margin:0px 1px;
    border:0px;
    width:8px;
    height:100%;
    float:left;
    /*overflow:hidden;    */
    /*background: url("../../portalonline/i/icons.png") -604px -0px repeat-y;*/
}
.wrapper .sidebarSwitcher .switcherButton
{
    margin:-11px 0px 0px 0px;
    border:0px;
    width:8px;
    height:23px;
    /*position:absolute;*/
    top:50%;        
    overflow:hidden;    
    cursor:pointer;
}
.wrapper .sidebarSwitcher .switcherButtonOpenSate
{
    left:253px;
    /*background:url("../../portalonline/i/icons.png") -251px -104px no-repeat;*/
}
.wrapper .sidebarSwitcher .switcherButtonCloseSate
{
    left:1px;
    /*background:url("../../portalonline/i/icons.png") -251px -127px no-repeat;*/
}
.wrapper ._content
{
    border:0px;
    /*position:absolute;*/
    /*top:0px;*/
    /*bottom:0px;    */
    /*right:0px;*/
}
.wrapper .contentOpenState
{
    left:262px;
}
.wrapper .contentCloseState
{
    left:10px;
}
.wrapper ._content .toolbar
{
    position:absolute;
    left:0px;
    right:0px;
}
.wrapper ._content .mapContainer
{
    border:1px solid #d3d3d3;
    border-top:0px; 
    /*position:absolute;*/
    top:40px;
    bottom:0px;
    left:0px;
    right:0px;
}
.wrapper ._content .mapContainer .map
{
    border:1px solid #ffffff;
    /*position:absolute;*/
    /*top:0px;*/
    /*bottom:0px;*/
    /*left:0px;*/
    /*right:0px;*/
}
.wrapper ._content .mapContainer .map .scalebar
{
    width:180px;
    height:18px;
    background:url("../../portalonline/i/scalebar.png") 0px 0px no-repeat;
    /*position:absolute;*/
    bottom:20px;
    left:10px;
    overflow:hidden;
    z-index:100;
}

.wrapper ._content .mapContainer .map .mapCoordinates
{
	background:#fff;    
    height:18px;    
    /*position:absolute;*/
    /*bottom:0px;*/
    /*left:0px;*/
    /*overflow:hidden;*/
    /*z-index:100;*/
	font-size: 10pt;
	color: #424D58;
}


.wrapper ._content .mapContainer .mapCursorPan
{
    cursor:url("../../portalonline/i/grab.cur"), auto  !important;
}
.wrapper ._content .mapContainer .mapCursorPanActive
{
    cursor:url("../../portalonline/i/grabbing.cur"), auto  !important;
}
.wrapper ._content .mapContainer .mapCursorZoom
{
    cursor:url("../../portalonline/i/zoom_in.cur"), auto  !important;
}
.wrapper ._content .mapContainer .mapCursorInfo
{
    cursor:help !important;
}
.wrapper ._content .mapContainer .mapCursorRuler
{
    cursor:default, auto  !important;
}
div.mapLoader
{
	overflow: hidden;
    position: absolute;
    z-index: 60;
	top: 3px;
	right: 3px;
}
.esriScalebar {
	padding-bottom: 15px;
	/*font*/
}
.esriScalebarLabel {
    color: #000 !important;
}